<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error 404</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
    <link th:href="@{/css/darkTheme.css}" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1>Oops! Page Not Found</h1>
    <p>We're sorry, but the page you requested could not be found. It may have been moved, renamed, or temporarily unavailable.</p>
    <p>Please check the URL for any mistakes or try one of the following options:</p>
    <ul>
        <li>Go back to the <a href="/">homepage</a>.</li>
        <li>Contact the website administrator for further assistance.</li>
    </ul>
</div>
</body>
</html>
