.bg-main-blue{
    background-color: #0E2355;
}

.bg-green-700{
    background-color: #09F885;
}

#img-front{
    max-width: 40%;
}
.dropdown-menu {
    display: none;
    position: absolute;
    z-index: 1;
}

.dropdown:hover .dropdown-menu {
    display: block;
}


/* BUTTONS */
.btn-green {
    background-color: #228B22; /* bg-green-500 */
    color: white; /* text-white */
    font-weight: bold; /* font-bold */
    padding: 0.5rem 1rem; /* py-2 px-4 */
    border-radius: 0.25rem; /* rounded */
    text-decoration: none; /* to remove the underline */
    transition: background-color 0.2s ease; /* for the hover effect */
}

.btn-green:hover {
    background-color: #48BB78; /* hover:bg-green-700 */
}

/*ICONS */
.icon {
    color: white; /* text-white */
    font-weight: bold; /* font-bold */
    padding: 0.25rem 0.25rem 0.25rem 0.5rem; /* py-1 pr-1 pl-2 */
    border-radius: 0.25rem; /* rounded */
    display: flex; /* d-flex */
    transition: background-color 0.2s ease; /* for the hover effect */
}

.icon:hover {
    background-color: #48BB78; /* hover:bg-green-500 */
}


/*FOOTER */
.footer {
    margin-top: 2rem; /* mt-8 */
    border-top: 1px solid #D1D5DB; /* border-t border-gray-300 */
    padding: 1rem 0; /* py-4 */
    text-align: center; /* text-center */
    color: white; /* text-white */
}


