<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create project</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
    <link th:href="@{/styles.css}" rel="stylesheet">
</head>
<body class="bg-main-blue min-h-screen">
<div class="flex flex-col min-h-screen container mx-auto px-4 pt-8 pb-4">
    <header class="flex justify-between items-center mb-8">
        <div class="flex items-center">
            <a th:href="@{/userFrontend}">
                <img src="/images/logo-md.png" alt="Logo" class="w-[120vw] h-10 pr-10" />
            </a>
        </div>
        <nav class="flex">
            <a th:href="@{/logout}" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 ml-4 rounded">Logout</a>
        </nav>
    </header>
    <main class="flex-grow flex items-center justify-center">
        <form th:action="@{/createProject}" th:object="${project}" method="post" class="bg-main-blue rounded px-8 pt-6 pb-8 mb-4 w-2/5">
            <h1 class="text-4xl font-bold text-white text-center mb-6">Create a new Project!</h1>
            <div class="mb-4">
                <label class="block text-white text-sm font-bold mb-2" for="projectName">Project Name:</label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="text" id="projectName" name="projectName" th:field="*{projectName}" required>
            </div>
            <div class="mb-4">
                <label class="block text-white text-sm font-bold mb-2" for="projectDescription">Description:</label>
                <textarea class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="projectDescription" name="projectDescription" th:field="*{projectDescription}" rows="2" required></textarea>
            </div>
            <div class="mb-4">
                <label class="block text-white text-sm font-bold mb-2" for="projectStartDate">Start Date:</label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="date" id="projectStartDate" name="projectStartDate" th:field="*{projectStartDate}" required>
            </div>
            <div class="mb-6">
                <label class="block text-white text-sm font-bold mb-2" for="projectEndDate">End Date:</label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="date" id="projectEndDate" name="projectEndDate" th:field="*{projectEndDate}" required>
            </div>
            <div class="flex items-center justify-between">
                <button type="submit" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">Create Project</button>
                    <a class="inline-block align-baseline font-bold text-sm text-white" th:href="@{/userFrontend}">Back</a>
            </div>
        </form>
    </main>
    <footer class="mt-8 border-t border-gray-300 py-4 text-center text-white">
        &copy; 2023 Project Peak
    </footer>
</div>
</body>
</html>

