<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Project</title>
</head>
<body>

<h1>Create project</h1>

<form th:action="@{/createProject}" th:object="${project}" method="post">
    <label for="name">Project Name:</label>
    <input type="text" id="name" name="name" th:field="*{name}" required>

    <label for="description">Description:</label>
    <input type="text" id="description" name="description" th:field="*{description}" required>

    <label for="startDate">Start Date:</label>
    <input type="date" id="startDate" name="startDate" th:field="*{startDate}" required>

    <label for="endDate">End Date:</label>
    <input type="date" id="endDate" name="endDate" th:field="*{endDate}" required>

    <button type="submit">Create Project</button>
    <a th:href="@{/userFrontend}"><button type="button">Back</button></a>
</form>

<div class="copyright">
    &copy; 2023 Project Peak. All rights reserved.
</div>
</body>
</html>
