<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create task - Project Peak</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
    <link th:href="@{/styles.css}" rel="stylesheet">
</head>
<body>
<div th:replace="~{components/headerUser :: site-header-user}"></div>
<main class="flex-grow flex items-center justify-center">
    <form th:action="@{/createTask/{id}(id=${id})}" th:object="${Task}" method="post" class="bg-main-blue rounded px-8 pt-6 pb-8 w-2/5">
        <h1>Create a new Task!</h1>
        <div class="mb-4">
            <label class="label" for="projectName">Task Name:</label>
            <input class="input" type="text" id="projectName" name="projectName" th:field="*{taskName}" required>
        </div>
        <div class="mb-4">
            <label class="label" for="projectDescription">Description:</label>
            <textarea class="input" id="projectDescription" name="projectDescription" th:field="*{taskDescription}" rows="2" required></textarea>
        </div>
        <div class="mb-4">
            <label class="label" for="projectStartDate">Start Date:</label>
            <input class="input" type="date" id="projectStartDate" name="projectStartDate" th:field="*{taskStartDate}" required>
        </div>
        <div class="mb-6">
            <label class="label" for="projectEndDate">End Date:</label>
            <input class="input" type="date" id="projectEndDate" name="projectEndDate" th:field="*{taskEndDate}" required>
        </div>

        <div class="mb-4">
            <label class="label" for="taskStatus">Task Status:</label>
            <select class="select-class" id="taskStatus" name="taskStatus" th:field="*{status}" required>
                <option value="">Choose a status</option>
                <option value="Not Started">Not Started</option>
                <option value="In Progress">In Progress</option>
                <option value="Complete">Complete</option>
            </select>
        </div>



        <div class="flex items-center justify-between">
            <button type="submit" class="btn-green">Create Task</button>
            <a class="back" th:href="@{/showProject/{id}(id=${id})}">Back</a>
        </div>
    </form>
</main>
<div th:replace="~{components/footer :: site-footer}"></div>
</body>
</html>
