<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Project Peak</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
    <link th:href="@{/styles.css}" rel="stylesheet">
</head>
<body>
<div class="container">
    <div th:replace="components/headerFront :: site-header"></div>
    <main class="mb-44 flex-grow flex items-center justify-center">
        <form class="bg-main-blue p-8 rounded-lg shadow-md w-full sm:w-2/5" th:action="@{/login}" th:object="${user}" method="post">

            <div class="mb-4">
                <label class="label" for="email">Email:</label>
                <input class="input" id="email" type="email" th:field="*{email}" required>
            </div>
            <div class="mb-6">
                <label class="label" for="password">Password:</label>
                <input class="input" id="password" type="password" th:field="*{password}" required>
            </div>
            <div class="flex items-center justify-between">
                <button type="submit" class="btn-green">Login</button>
                <a class="back" th:href="@{/}">Back</a>
            </div>
        </form>
    </main>
    <div th:replace="components/footer :: site-footer"></div>
</div>
</body>
</html>

