<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Project Peak - Project Details</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
    <link th:href="@{/styles.css}" rel="stylesheet">
    <script>
        function toggleSubtasks(taskId) {
            const subtasksContainer = document.getElementById(`subtasks-${taskId}`);
            subtasksContainer.classList.toggle('hidden');
        }
    </script>
</head>
<body class="bg-main-blue min-h-screen">
<div class="flex flex-col min-h-screen container mx-auto px-4 pt-8 pb-4">
    <header class="flex justify-between items-center mb-8">
        <div class="flex items-center">
            <a th:href="@{/userFrontend}">
                <img src="/images/logo-md.png" alt="Logo" class="w-[120vw] h-10 pr-10"/>
            </a>
        </div>
        <nav class="flex items-center">
            <i class="fa fa-user text-white mr-2"></i>
            <span class="text-white font-bold mr-4" th:text="${user.getFullName()}"></span>
            <a th:href="@{/logout}" class="btn-green ml-4">Logout</a>
        </nav>
    </header>
    <main class="flex-grow">
        <h1 class="text-4xl font-bold text-white text-center mb-6" th:text="${project.getProjectName()}"></h1>
        <hr class="mt-8 border-t border-gray-300 py-4 text-center">
        <div class="p-6">
            <div class="bg-main-blue rounded-lg shadow-lg p-6">
                <h2 class="text-xl font-semibold my-2 text-white">
                    Description:
                </h2>
                <p class="text-white">
                    <span th:text="${project.getProjectDescription()}"></span>
                </p>
                <h2 class="text-xl font-semibold my-2 text-white">
                    Start Date:
                </h2>
                <p class="text-white">
                    <span th:text="${project.getProjectStartDate()}"></span>
                </p>
                <h2 class="text-xl font-semibold my-2 text-white">
                    End Date:
                </h2>
                <p class="text-white">
                    <span th:text="${project.getProjectEndDate()}"></span>
                </p>
        <table class="table-auto w-full mb-6 mt-6">
            <thead>
            <tr>
                <th class="th">Task Name</th>
                <th class="th">Description</th>
                <th class="th">Start Date</th>
                <th class="th">End Date</th>
                <th class="th">Status</th>
                <th class="th">Edit</th>
                <th class="th">Delete</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="task : ${listOfTask}">
                <tr class="text-white text-center">
                    <td class="border px-4 py-2 flex justify-center items-center">
                            <p class="mr-2 text-center"><span th:text="${task.getTaskName()}"></span></p>
                            <a onclick="toggleSubtasks('${task.getTaskId()}')" class="hover:text-green-500 cursor-pointer" type="button"><i class="fa fa-chevron-down"></i></a>
                    </td>
                    <td class="border px-4 py-2" th:text="${task.getTaskDescription()}"></td>
                    <td class="border px-4 py-2" th:text="${task.getTaskStartDate()}"></td>
                    <td class="border px-4 py-2" th:text="${task.getTaskEndDate()}"></td>
                    <td class="border px-4 py-2" th:text="${task.getStatus()}"></td>
                    <td class="border px-4 py-2"><a th:href="@{/editTask/{id}(id=${task.getTaskId()})}" class="btn-green"><i class="fa fa-pencil-square-o fa-lg"></i></a></td>
                    <td class="border px-4 py-2"><a th:href="@{/deleteTask/{id}(id=${task.getTaskId()})}" onclick="return confirm('Are you sure you want to delete this task?')" class="btn-green"><i class="fa fa-trash fa-lg"></i></a></td>
                </tr>
                <tr class="hidden text-white text-center" id="subtasks-${task.getTaskId()}" th:each="subtask : ${task.getSubTaskList()}">
                    <td class="border px-4 py-2" th:text="${subtask.getSubTaskName()}"></td>
                    <td class="border px-4 py-2" th:text="${subtask.getSubTaskDescription()}"></td>
                    <td class="border px-4 py-2" th:text="${subtask.getSubTaskStartDate()}"></td>
                    <td class="border px-4 py-2" th:text="${subtask.getSubTaskEndDate()}"></td>
                    <td class="border px-4 py-2" th:text="${subtask.getStatus()}"></td>
                    <td class="border px-4 py-2"><a th:href="@{/editTask/{id}(id=${task.getTaskId()})}" class="btn-green"><i class="fa fa-pencil-square-o fa-lg"></i></a></td>
                    <td class="border px-4 py-2"><a th:href="@{/deleteTask/{id}(id=${task.getTaskId()})}" onclick="return confirm('Are you sure you want to delete this task?')" class="btn-green"><i class="fa fa-trash fa-lg"></i></a></td>
                </tr>
            </th:block>
            </tbody>
        </table>
                <div class="flex items-center justify-between">
                    <button type="submit" class="btn-green">Add Task</button>
                    <a class="back" th:href="@{/userFrontend}">Back</a>
                </div>
    </main>
    <footer class="footer">
        &copy; 2023 Project Peak
    </footer>
</div>
</body>
</html>


