<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Project Details - Project Peak</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
    <link id="theme-style" rel="stylesheet" href="/css/darkTheme.css">
    <script src="/js/script.js"></script>
</head>
<body>
<div class="container">
    <div th:replace="~{components/headerUser :: site-header-user}"></div>
    <h1 th:text="${project.getProjectName()}"></h1>
    <hr class="mt-8 border-t py-4 text-center">
    <div class="p-6">
        <div class="rounded-lg shadow-lg p-6">
            <h2>Description:</h2>
            <p><span th:text="${project.getProjectDescription()}"></span></p>
            <h2>Start Date:</h2>
            <p><span th:text="${project.getProjectStartDate()}"></span></p>
            <h2>End Date:</h2>
            <p><span th:text="${project.getProjectEndDate()}"></span></p>

            <table class="table-auto">
                <thead>
                <tr class="no-hover">
                    <th>Days to start</th>
                    <th>Task Name</th>
                    <th>Task Description</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Days for task</th>
                    <th>Days left</th>
                    <th>Status</th>
                    <th>Subtask</th>
                    <th>Edit</th>
                    <th>Delete</th>
                    <th>Done</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="taskAndSubtask : ${listOfTaskAndSub}" class="text-center align-middle">
                    <td th:text="${taskAndSubtask.getDaysToStart() == 0 ? 'Started' : taskAndSubtask.getDaysToStart()}"></td>
                    <td th:text="${taskAndSubtask.name}"></td>
                    <td th:text="${taskAndSubtask.description}"></td>
                    <td th:text="${taskAndSubtask.startDate}"></td>
                    <td th:text="${taskAndSubtask.endDate}"></td>
                    <td th:text="${taskAndSubtask.daysTask}"></td>
                    <td th:text="${taskAndSubtask.getDaysLeft() == 0 ? 'Not Started' : taskAndSubtask.getDaysLeft()}"></td>
                    <td th:text="${taskAndSubtask.status}"></td>
                    <td><a th:href="@{/showSubtask/{id}(id=${taskAndSubtask.getId()})}"
                           class="hover:bg-green-500 text-white font-bold py-1 px-2 rounded">
                        <i class="fa fa-eye fa-lg icons-colour"></i>
                    </a></td>
                    <td> <a th:href="@{/editTask/{id}(id=${taskAndSubtask.getId()})}"
                            class="hover:bg-green-500 text-white font-bold py-1 px-2 rounded">
                        <i class="fa fa-pencil-square-o fa-lg icons-colour"></i>
                    </a></td>
                    <td><a th:href="@{/deleteTask/{id}(id=${taskAndSubtask.getId()})}" type="submit"
                           class="hover:bg-red-700 text-white font-bold py-1 px-2 rounded"
                           onclick="return confirm('Are you sure you want to delete this project? All you task and subtask will also be deleted.')">
                        <i class="fa fa-trash fa-lg icons-colour"></i>
                    </a></td>
                    <td><a th:href="@{/doneTask/{id}(id=${taskAndSubtask.getId()})}"
                           class="hover:bg-green-500 text-white font-bold py-1 pr-1 pl-2 rounded d-flex align-items-center justify-content-center">
                        <i class="fa fa-check fa-lg icons-colour"></i>
                    </a></td>
                    <td colspan="12" class="text-center">
                        <form th:action="@{/addMemberToProject/{projectId}(projectId=${project.getProjectId()})}" method="post">
                            <h2>Add Member:</h2>
                            <div class="mb-4">
                                <input type="email" name="email" placeholder="Enter email" required class="black-input text-black">
                            </div>
                            <button type="submit" class="btn-green">Add</button>
                        </form>
                    </td>
                    <td><h2>All Emails:</h2>
                        <ul>
                            <li th:each="email : ${allEmails}">
                                <span th:text="${email}"></span>
                            </li>
                        </ul></td>


                </tr>
                </tbody>
            </table>

            <div class="flex items-center mt-2">
                <a th:href="@{/addTask/{projectId}(projectId=${project.getProjectId()})}" class="btn-green mr-2">Add Task</a>
                <a th:href="@{/showAllTaskProjects/{id}(id=${project.getProjectId()})}" class="btn-green mr-2">See All Done Task</a>
                <a th:href="@{/userFrontend}" class="back-btn">Back</a>
            </div>

        </div>
    </div>

    <div th:replace="~{components/footer :: site-footer}"></div>
</div>




</body>
</html>




