<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Done Projects - Project Peak</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
  <link id="theme-style" rel="stylesheet" href="/css/darkTheme.css">
  <script src="/js/script.js"></script>
</head>
<body>
<div th:replace="~{components/headerUser :: site-header-user}"></div>
<table class="table-auto">
  <thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Completed Date</th>
    <th>Expected Days</th>
    <th>Used Days</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="doneSubtask : ${seeDoneSubtask}">
    <td th:text="${doneSubtask.subTaskName}"></td>
    <td th:text="${doneSubtask.subTaskDescription}"></td>
    <td th:text="${doneSubtask.subTaskStartDate}"></td>
    <td th:text="${doneSubtask.subTaskEndDate}"></td>
    <td th:text="${doneSubtask.subtaskCompletedDate}"></td>
    <td th:text="${doneSubtask.subtaskExpectedDays}"></td>
    <td th:text="${doneSubtask.subtaskUsedDays}"></td>
  </tr>
  </tbody>
</table>
</body>
<a th:href="@{/showAllTaskProjects/{id}(id=${taskId})}" class="back-btn">Back</a>
<div th:replace="~{components/footer :: site-footer}"></div>
</html>