<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Subtask Details - Project Peak</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
    <link th:href="@{/styles.css}" rel="stylesheet">
</head>
<body>
<div class="container">
<div th:replace="~{components/headerUser :: site-header-user}"></div>
    <h1>Subtask details for <span th:text="${taskAndSubtask.getName()}"></span></h1>
    <hr class="mt-8 border-t border-gray-300 py-4 text-center">
<table>
    <thead>
    <tr>
        <th>Subtask Name</th>
        <th>Subtask Description</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="subtask : ${taskAndSubtask.subTaskList}">
        <td class="text-white" th:text="${subtask.subTaskName}"></td>
        <td class="text-white"  th:text="${subtask.subTaskDescription}"></td>
        <td class="text-white"  th:text="${subtask.subTaskStartDate}"></td>
        <td class="text-white"  th:text="${subtask.subTaskEndDate}"></td>
        <td class="text-white"  th:text="${subtask.status}"></td>
        <td class="flex flex-row items-center justify-between">
            <a th:href="@{/deleteSubtask/{id}(id=${subtask.getSubTaskId()})}" class="btn-green">Delete Subtask</a>
        </td>
    </tr>
    </tbody>
</table>
    <div class="flex items-center justify-between mt-2">
        <a th:href="@{/createSubtask/{id}(id=${taskAndSubtask.getId()})}" class="btn-green">Add Subtask</a>
        <a class="back" th:href="@{/showProject/{projectId}(projectId=${taskAndSubtask.getProjectId()})}">Back</a>
    </div>
<div th:replace="~{components/footer :: site-footer}"></div>
</div>
</body>
</html>
