<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Done Projects - Project Peak</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
  <link id="theme-style" rel="stylesheet" href="/css/darkTheme.css">
  <script src="/js/script.js"></script>
</head>
<body>
<div th:replace="~{components/headerUser :: site-header-user}"></div>

<table class="table-auto">

  <thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Completed Date</th>
    <th>Expected Days</th>
    <th>Used Days</th>
    <th>Show Task</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="doneProject : ${seeDoneProject}">
    <td th:text="${doneProject.projectName}"></td>
    <td th:text="${doneProject.projectDescription}"></td>
    <td th:text="${doneProject.projectStartDate}"></td>
    <td th:text="${doneProject.projectEndDate}"></td>
    <td th:text="${doneProject.projectCompletedDate}"></td>
    <td th:text="${doneProject.projectExpectedDays}"></td>
    <td th:text="${doneProject.projectUsedDays}"></td>
    <td><a th:href="@{/showAllTaskProjects/{id}(id=${doneProject.getProjectId()})}"
           class="hover:bg-green-500 text-white font-bold py-1 px-2 rounded">
      <i class="fa fa-eye fa-lg icons-colour"></i>
    </a></td>

  </tr>
  </tbody>

</table>
<a th:href="@{/userFrontend}" class="back-btn">Back</a>
<div th:replace="~{components/footer :: site-footer}"></div>
</body>
</html>