<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Project Peak - User Frontend</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
    <link th:href="@{/styles.css}" rel="stylesheet">
</head>
<body>
<div class="container">
    <div th:replace="components/headerUser :: site-header-user"></div>
    <main class="flex-grow">
        <h1 class="text-4xl font-bold text-white text-center mb-6">Welcome to Project Peak!</h1>
        <table class="table-auto w-full mb-6">
            <thead>
            <tr>
                <th class="py-2 text-white items-center">Your Projects</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="project : ${projects}" class="hover:bg-blue-900">
                <td class="text-white flex justify-between items-center">
                    <span>
                        <i class="fa fa-circle fa-lg text-yellow-500"></i>
                        <span th:text="${project.getProjectName()}"></span>
                      </span>
                    <form class="inline-block">
                        <span>Deadline:</span>
                        <span th:text="${project.getProjectEndDate()}"></span>
                        <a th:href="@{/showProject/{id}(id=${project.getProjectId()})}"
                           class="hover:bg-green-500 text-white font-bold py-1 px-2 rounded">
                            <i class="fa fa-eye fa-lg"></i>
                        </a>
                        <a th:href="@{/editProject/{id}(id=${project.getProjectId()})}"
                           class="hover:bg-green-500 text-white font-bold py-1 pr-1 pl-2 rounded d-flex align-items-center justify-content-center">
                            <i class="fa fa-pencil-square-o fa-lg"></i>
                        </a>
                        <a th:href="@{/deleteProject/{id}(id=${project.getProjectId()})}" type="submit"
                           class="hover:bg-red-700 text-white font-bold py-1 px-2 rounded">
                            <i class="fa fa-trash fa-lg"></i>
                        </a>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="flex justify-center space-x-4">
            <a th:href="@{/createProject}">
                <button type="button" class="btn-green">
                    Create Project
                </button>
            </a>
            <a th:href="@{/showProject}">
                <button type="button" class="btn-green">
                    Show All Projects
                </button>
            </a>
        </div>
    </main>
    <div th:replace="components/footer :: site-footer"></div>
</div>
</body>
</html>


